
/* Hack to get VS Code to show previews: */
#colors {
  color: #ff9f1c;
  color: #ffbf69;
  color: #ffffff;
  color: #cbf3f0;
  color: #2ec4b6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

form input {
  display: block;
  width: 25%;
}

.x, button {
  cursor: pointer;
}

a {
  color: #2ec4b6;
  transition: all 0.25s;
}

a {
  display: inline-block;
  padding: 0.4em 1em;
  border: 0.1em solid #cbf3f0;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: 800;
  text-align: center;
}

a:hover, a .active {
  border: 0.1em solid #2ec4b6;
}
